@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'); */

.cv_page {
	@apply w-full h-full flex flex-col md:flex-row items-start;
	width: 210mm;
    height: 297mm;
    /* margin: auto; */
	padding: 0;
	margin: 0;
    font-family: Arial, sans-serif;
	background-color: #ffffff;
	justify-content: space-between;
}

.cv_page h1, .cv_page h2, .cv_page h3, .cv_page p, .cv_page a {
	/* @apply p-2; */
}

.cv_header {
	@apply flex flex-col justify-start;
	/* apply background collor with shaddowbox */
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	width: 30%;
	height: 100%;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 0.5rem;
}

.cv_header h2, .cv_header h3, .cv_header dl {
	margin-left: 1rem;
	padding-left: 0;
}

.cv_header .image-container, .cv_header h1 {
	padding-left: 1rem;
}

.cv_header dd {
	@apply font-light;
	/* margin-top: 0.3em;
	margin-bottom: 0.3em; */
}

.cv_header dt {
	@apply font-light text-gray-600;
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	display: inline-block;
	border-bottom-width: 1px;
}

.name-title {
	position: absolute;
	white-space: nowrap;
	color: white;
	margin: -1rem 0em;
	/* border-radius: 0 42px 3px 0; */
	/* border-color: #6a6a6a1b; */
	/* border-top-width: 1px; */
}

.name-title h1 {
	@apply text-4xl text-center font-bold;
	background: linear-gradient(90deg, rgb(254 216 175 / 22%) 0%, rgb(212 195 226 / 56%) 68%, rgb(255 255 255 / 0%) 100%);
	/* border-radius: 0 200px 3px 0; */
	text-shadow: 0 0 3px #444444b0, 0 0px 8px white;
	letter-spacing: 0.1em;
	padding-right: 3rem;
}

.name-title p {
	@apply font-light text-center;
	letter-spacing: 0.6em;
	color: white;
	background: linear-gradient(90deg, rgb(255 216 175) 0%, rgb(194 143 234) 68%, rgb(253 215 172 / 0%) 100%);
	text-shadow: 0 0px 2px rgba(255, 255, 255, 0.79);
}

.image-container {
	@apply flex flex-col justify-center items-center;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.profile img {
	@apply rounded-full;
	background: linear-gradient(129deg, rgb(255 219 116 / 45%) 0%, rgb(180 117 231 / 34%) 68%, rgb(255 221 64 / 6%) 100%);
	width: 100%;
	padding: 0.2em;
	box-shadow: 0 0 3px #000000ca, 0 0 10px white;
}

.profile {
	width: fit-content;
	max-width: 100%;
}

.cv_page h2 {
	@apply text-2xl;
	letter-spacing: 0.1em;
	@apply text-gray-600;
	line-height: 1rem;
}

.cv_page h3 {
	@apply text-gray-600;
	@apply font-light;
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	display: inline-block;
	border-bottom-width: 1px;
}



.cv_content {
	@apply flex flex-col justify-center items-end; /* Aligns content to the right */
}



.infoLine {
	@apply flex flex-row items-center;
	/* word-wrap: break-word; */
}
  
.infoLine i, .infoLine svg {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */

	height: 15px; /* You can adjust this value */
	padding: 5px;
	/* background-color: bisque; */
	border-radius: 0 0.25em 0.25em 0;
	border-color: #6a6a6a2e;
	border-width: 1px;
	margin-right: 0.6em;
}



.contacts {
	font-size: 0.9em;
}

.contacts p, .contacts a {
	font-size: 0.8em;
}

.skills-list {
	display: block;
}

dl > .skills-list > div > dd {
	display: inline-flex;
	flex-wrap: wrap;
}

dl > .skills-list > div > p {
	display: inline-flex;
	flex-wrap: wrap;
}

dl > .skills-list > div {
    display: inline;
}

.skills-list img {
	@apply rounded-full;
	width: 35px;
	height: 35px;
	padding: 0.2em;
	/* box-shadow: 0 0 3px #000000ca, 0 0 10px white; */
	border-width: 1px;
	border-color: #6a6a6a2e;
}

.group-tag {
	display: initial;
	position: absolute;
	/* transform: translateX(36px); */
	text-align: left;
}

.group-marker {
	display: initial;
	position: absolute;
	transform: translateX(-36px);
	/* text-align: left; */
}

.experience {
	@apply text-gray-300;
	font-size: 0.3em;
	position: absolute;
	font-weight: 100;
	/* left: 0; */
}

.group-marker-begin, .group-marker-vis {
	width: 35px;
	height: 52px;
	border-color: #0000000f;
	border-style: solid;
	border-top-width: 1px;
	margin-top: 0.8rem;
}

.group-marker-begin {
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left-width: 1px;
}

.group-marker-vis {
	border-right-width: 1px;
	border-top-right-radius: 10px;
}

.level-group {
	/* border-width: 1px; */
}



.skill-tag {
	@apply flex flex-col justify-between;
	@apply text-gray-600 font-light;
	font-size: 0.3em;
	margin-top: 1rem;
    /* margin-top: 0.05rem;
    margin-bottom: 0.05rem; */
}

.skill {
	@apply flex flex-col justify-between inline-block;
	/* stick to flex start */
	align-items: center;
	margin-inline: 1em;
	/* border-top-width: 1px; */
	padding: 0.3em 0em;
}

.skill-tag .last {
	border-right-width: 1px;
	height: 14px;
	padding-right: 3px;
	max-width: none;
}


.level {
	@apply flex flex-col justify-between;
	/* @apply text-gray-600 font-light; */
	font-size: 0.3em;
}


.skill .skill-info {
	@apply flex flex-row justify-between;
	font-size: 0.3em;
}

.level-2 {
	font-weight: 600;
}

.skill .skill-name {
	@apply text-center;
	font-size: 0.6em;

	padding: 0 1em;
	position: absolute;
	border-width: 1px;
	border-radius: 1em 1em;
}

.skill-name-box {
	/* padding: 1em; */
	display: flex;
	justify-content: center;
	/* border-width: 1px; */
	margin-top: -6px;
	max-width: 35px;
	margin-bottom: 12px;
}

.skill-icon {
	margin: auto;
	min-width: 35px;
}

.cv_content {
	@apply flex flex-col justify-center items-end; /* Aligns content to the right */
	margin-top: 2rem;
	/* width: min-content; */
}

.cv_content h2, .cv_content h3, .cv_content p, .cv_content a {
	padding: auto;
	margin: auto;
	margin-right: 4rem;
	margin-left: 3rem;
}

.cv_content h2 {
	/* background-color: bisque; */
	display: inline-block;
}

.cv_content p {
	@apply text-gray-600;
	@apply font-light;
	font-weight: 300;
	font-size: 0.8em;
	/* letter-spacing: 0.25em; */
	display: inline-block;
	text-indent: 2em;
}

.cv_content section {
	border-bottom-width: 1px;
}

.about {
	/* background-color: #ffffff; */
}

.about_info_aspirations {
	text-align: end;
}

.about_info_aspirations p {
	padding-left: 10rem;
}

.about h3 {
	font-size: 0.5em;
	padding-top: 0;
	padding-bottom: 0;
}

.about p {
	font-size: 0.8em;
	max-height: 20%;
}