@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'); */

.cv_page > main {
	/* position: absolute; */
	display: flex;
	flex-direction: row;
	height: 100%;
}

.cv_page strong {
	white-space: nowrap;
}

.cv_page main > article {
	margin-top: 25%;
	/* margin-bottom: 2rem; */
	z-index: 5;
}

:root {
    --sidebar-width: 27%;
}

.cv_page main > aside {
	padding-top: 28%;
	min-width: var(--sidebar-width);
	/* z-index: 2; */
}

.cv_page main > aside > section {
	/* font-size: 0.9em; */
}

.cv_page main > aside > .skills {
	/* width: 50mm; */
}

.cv_page > header {
	height: 20%;
	position: absolute;
	width: 210mm;
}

.cv_page > header > hgroup {
	width: 154mm;
	-webkit-background-clip: text;
}

.cv_page header > .image-container {
	width: var(--sidebar-width);
}

.cv_page address {
	font-size: smaller;
}

.cv_page .profile > hgroup > h1 {

	padding-left: 12mm;
	/* -webkit-background-clip: text;  */
    -webkit-text-fill-color: transparent;
}

.cv_page .profile > hgroup > p {
	/* -webkit-background-clip: text;  */
	-webkit-text-fill-color: transparent;
}

aside > section > figure {
	display: flex;
	flex-direction: column;
}

.cv_page {
	@apply w-full h-full flex flex-col md:flex-row items-start;
	width: 210mm;
    height: 296.5mm;
    /* margin: auto; */
	padding: 0;
	margin: 0;
    font-family: Arial, sans-serif;
	background-color: #ffffff;
	/* justify-content: space-between; */
	display: flex;
    flex-direction: column;
}

.cv_page h1, .cv_page h2, .cv_page h3, .cv_page p, .cv_page a {
	/* @apply p-2; */
}

.cv_page p {
	line-height: normal;
}

.cv_header {
	@apply flex flex-col justify-start;
	/* apply background collor with shaddowbox */
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	width: 30%;
	height: 100%;
	/* justify-content: flex-start; */
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 4rem;
	padding-right: 0.5rem;
	padding-left: 1rem;
	/* row-gap: 1.5rem; */
}

/* .cv_page aside > footer {
	margin-top: auto;
} */

.cv_header h2, .cv_header h3, .cv_header dl, .cv_header ol {
	/* margin-left: 1rem; */
	padding-left: 0;
}


.cv_header dd, .cv_page li {
	@apply font-light text-gray-700;
}

.description-block {
	@apply flex flex-col;
	/* gap: 0.3rem; */
}

.cv_header dt {
	@apply font-light text-gray-500;
	font-weight: 200;
	font-size: x-small;
	/* letter-spacing: 0.25em; */
	display: inline-block;
	/* border-bottom-width: 1px; */
}

.name-title {
	/* position: absolute; */
	white-space: nowrap;
	color: white;
	/* margin: -1rem 0em; */
	text-transform: uppercase;
	background: linear-gradient(90deg, rgb(71 77 86) 10%, rgb(238, 158, 178) 100%);
	/* border-radius: 0 42px 3px 0; */
	/* border-color: #6a6a6a1b; */
	/* border-top-width: 1px; */
}

.name-title h1 {
	font-size: xx-large;
	/* background: linear-gradient(90deg, rgb(254 216 175 / 22%) 0%, rgb(212 195 226 / 56%) 68%, rgb(255 255 255 / 0%) 100%); */
	/* border-radius: 0 200px 3px 0; */
	/* text-shadow: 0 0 3px #444444b0, 0 0px 8px white; */
	font-weight: 400;
	letter-spacing: 0.15em;
}

.name-title p {
	@apply font-light text-center;
	font-size: normal;
	letter-spacing: 0.6em;
	color: white;
	/* background: linear-gradient(90deg, rgb(255 216 175) 0%, rgb(194 143 234) 68%, rgb(253 215 172 / 0%) 100%); */
	/* text-shadow: 0 0px 2px rgba(255, 255, 255, 0.79); */
}

.image-container {
	@apply flex flex-col justify-center items-center;
	position: relative;
	width: 100%;
	height: 100%;
}

.profile .image, .profile canvas {
	@apply rounded-full;
	/* background: linear-gradient(129deg, rgb(255 219 116 / 45%) 0%, rgb(180 117 231 / 34%) 68%, rgb(255 221 64 / 6%) 100%);
	width: 100%;
	padding: 0.2em; */
	/* box-shadow: 0 0 3px #000000ca, 0 0 10px white; */
	/* border-width: 1px; */
	aspect-ratio: 1;
	object-fit: cover;
	object-position: 0 calc(50% + 0.8rem);
	height: 180px;
	width: 180px;
	filter: saturate(0.9);
	margin-left: 1mm;
}

.profile .front {
	position: absolute;
    padding: 1em;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: 0 calc(50% + 0.5rem);
	border-radius: 100%;
	opacity: 0.75;
}

.profile {
	width: fit-content;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cv_page h2 {

	/* letter-spacing: 0.1em; */
	@apply text-gray-600;
	/* line-height: 1rem; */
	font-size: large;
	border-bottom-width: 1px;
}

.cv_page h3 {
	/* @apply text-gray-600; */
	/* @apply font-light; */
	/* font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	display: inline-block;
	border-bottom-width: 1px; */
}



.cv_content {
	@apply flex flex-col items-start; /* Aligns content to the right */
	/* gap: 1rem; */
	padding-left: 3rem;
	margin-right: 4rem;
	margin-bottom: 3rem;
	justify-content: space-between;
}



.infoLine {
	@apply flex flex-row items-center;
	/* word-wrap: break-word; */
}
  
.infoLine i, .infoLine svg {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */

	height: 19px; /* You can adjust this value */
	padding: 0.3em;
	/* background-color: bisque; */
	/* border-radius: 0 0.25em 0.25em 0; */
	/* border-color: #6a6a6a2e; */
	/* border-width: 1px; */
	margin-right: 0.6em;
}



.contacts > dl {
	font-size: smaller;
}

.contacts p, .contacts a {
	/* font-size: small; */
}

/* .skills-list {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	column-gap: 0.2em;
} */

.skills-list
{
	display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
	justify-items: center;
	row-gap: 0.2em;
	column-gap: 10px;
	/* column-gap: 2px; */
}

dl > .skills-list > div > dd {
	display: inline-flex;
	flex-wrap: wrap;
}

dl > .skills-list > div > p {
	display: inline-flex;
	flex-wrap: wrap;
}

dl > .skills-list > div {
	display: contents;
}

.skills-list img {
	@apply rounded-full;
	width: 32px;
	height: 32px;
	padding: 1px;
	/* box-shadow: 0 0 3px #000000ca, 0 0 10px white; */
	border-width: 1px;
	border-color: #6a6a6a2e;
}

.group-tag {
	display: initial;
	position: absolute;
	text-align: left;
}

.group-marker {
	display: initial;
	position: absolute;
	/* transform: translateX(-33px); */

}

.experience {
	font-size: x-small;
	position: absolute;
	font-weight: 100;
	display:flex;
	flex-direction: row;
	background-size: 2.2rem 100%;
	letter-spacing: 0.2em;
	margin-left: 0.3em;
}

.group-marker-begin, .group-marker-vis {
	width: 25px;
	height: 50px;
	border-style: solid;
	border-top-width: 1px;
	margin-top: 0.8rem;
}

.group-marker-begin {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	transform: translateX(-1px);
}

.group-marker-vis {
	border-top-right-radius: 10px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-bottom-right-radius: 10px;
	transform: translateX(11px);
}

.level-group-0 > * {
	opacity: 0.9;
	/* filter: grayscale(0.3); */
}

.level-group-1 > * {
	opacity: 0.95;
	/* filter: grayscale(0.2); */
}

.level-group-2 > * {
	opacity: 1;
}



.skill-tag {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* font-weight: 300; */
	/* --tw-text-opacity: 1; */
	/* color: rgb(75 85 99 / var(--tw-text-opacity)); */
	/* font-size: 0.3em; */
	/* margin-top: 1rem; */
	height: 55px;
	width: 35px;
}

.skills {

}

.skill > .skill-icon {
	position: relative;
}

.skill > .skill-icon > img {
	position: relative;
	filter: sepia(0.1) saturate(0.7);
	z-index: 1;
}

.skill {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-inline: 1em; */
    /* border-top-width: 1px; */
    /* padding: 0.3em 0em; */
    /* width: 35px; */
}


.skill .skill-info {
	/* @apply flex flex-row justify-between; */
	/* font-size: 0.3em; */
} 

.level-2 {
	font-weight: 600;
}

.skill .skill-name {
	@apply text-center;
	/* font-size: 0.6em; */
	font-size: x-small;
	font-weight: 400;
	position: absolute;
	border-width: 1px;
    border-radius: 0.45em;
	z-index: 2;
    background: #f5f5f5d6;
}

.skill-name-box {
	/* padding: 1em; */
	display: flex;
	justify-content: center;
	/* border-width: 1px; */
	margin-top: -6px;
	max-width: 3px;
	/* margin-bottom: 12px; */


}

.skill-icon {
	margin: auto;
	min-width: 32px;
	max-width: 32px;
	/* padding:4px; */
	/* border-radius: 100%; */
	/* border-width: 1px; */
}

.skill-icon-canvas {
	margin: auto;
	min-width: 32px;
	max-width: 32px;
	padding:4px;
	filter: sepia(0.1) saturate(0.7);
	/* border-radius: 100%; */
	/* border-width: 1px; */
}

.legend {
	margin-top: 0.5rem;
	list-style: none;
	padding: 0;
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-radius: 0.2em;
	line-height: 0.6rem;
}

.legend li > .experience-name {
	/* @apply text-gray-400 font-light; */
	gap: 0.2rem;
	font-size: xx-small;
	padding: 0.2em;
	color: #3c3c3c;
	/* background: inherit;
	background-attachment: fixed;
	-webkit-text-fill-color: transparent; */
}

.legend li > .experience-display {
	@apply flex flex-col justify-start;
	/* background: linear-gradient(90deg, rgb(255, 181, 103) 0%, rgb(171, 0, 255) 100%); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
	font-size: xx-small;
	letter-spacing: 0.2em;
	flex-direction: row;
}

.legend .legend-item-0 {
	opacity: 0.75;
}

.legend .legend-item-1 {
	opacity: 0.82;
}

.legend .legend-item-2 {
	opacity: 0.9;
}

.experience-display > .color-1, .experience > .color-1 {
	color: rgb(238.2, 144.8, 133.4);
}

.experience-display > .color-2, .experience > .color-2 {
	color: rgb(221.4, 108.6, 163.8);
}

.experience-display > .color-3, .experience > .color-3 {
	color: rgb(204.6, 72.4, 194.2);
}

.experience-display > .color-4, .experience > .color-4 {
	color: rgb(187.8, 36.2, 224.6);
} 

.cv_content h2, .cv_content h3, .cv_content p, .cv_content dl {
	padding: auto;
	margin: auto;
	/* margin-right: 4rem; */
	/* margin-left: 3rem; */
}

.cv_content dl {
	display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.cv_content h2 {
	/* background-color: bisque; */
	display: inline-block;
	width: 100%;
	border-top-width: 1px;
}

.cv_content p {
	/* @apply text-gray-600; */
	/* @apply font-light; */
	font-weight: 300;
	font-size: small;
	/* letter-spacing: 0.25em; */
	display: inline-block;
}

.indeted_text p {
    text-indent: 2em;
}

.cv_content dt {
	/* @apply text-gray-500; */
	/* @apply font-light; */
	/* font-weight: 600; */
	font-size: small;
	display: inline-block;
}

.cv_content > section {
	width: 100%;
}
.cv_content > section ul > li > main {
	padding: 0.2em;
}

.about {
	/* background-color: #ffffff; */
}

.about_info .indent {
	padding-left: 10rem;
	text-align: end;
}

.about_info > * {
	margin: 0.8em 0 0;
}

/* about has category font for h3 */
.about h3 {
	/* font-size: 0.5em; */
	font-size: xx-small;
	font-weight: 300;
	padding-top: 0;
	padding-bottom: 0;
}

.about p {
	/* font-size: 0.8em; */
	max-height: 20%;
	line-height: inherit;
	/* text-align: center;
    text-wrap: balance; */
}

.occupation_activity {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.occupation_activity .occupation_activity_header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
    width: 100%;
}

.occupation_activity .date {
	@apply text-gray-600 font-light flex flex-col justify-center;
	/* font-size: 0.8em; */
	text-align: center;

}

.occupation_activity .date > time:first-child
{
	text-align: left;
}

.occupation_activity .occupation_activity_body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.organization {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	font-size: small;
}

.organization svg {
	@apply text-gray-600;
	padding: 3px;
    font-size: xx-small;
}

.occupation_activity_header_box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.occupation > dl > ol li > header .organization {
	/* padding-left: 1em; */
	/* background-color: whitesmoke; */
}

.occupation > dl > ol {
	display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.occupation > dl h3 {
	font-weight: 300;
}

.occupation > dl dd > span  {
	font-size: small;
	font-weight: 500;
}

.occupation > dl dd > time  {
	font-size: x-small;
}

br {
	display: block;
}

.occupation > dl ol > li {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.occupation > dl ol > li .date {
	width: 20%;
	font-size: small;
}

.portfolio > figure > ul > li {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0.25em;
}

.portfolio > figure > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.4rem;
	margin: 0.4em 0em;
}

.portfolio li > header {
	height: auto;
	display: flex;
	flex-direction: row;
	/* margin: 0.5em 0em; */
}

.portfolio li > header > * {
	margin: 0;
	font-weight: normal;
	line-height: 1em;
}

.portfolio li > header > hgroup > p {
	font-weight: 400;
}

.portfolio > ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.portfolio li > header > p {
	font-size: xx-small;
}
/* 
.portfolio li > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */

.portfolio li > main > ul {
	font-size: x-small;
	/* list-style-type: disc; */
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	column-gap: 0.2rem;
}
.portfolio li > main > ul > li {
	padding: 0.2em 0.5em;
    border-radius: 100px;
    border-width: 1px;
	font-weight: 400;
}

.portfolio li > main p {
	text-indent: 1rem;
	font-size: 8pt;
}

.cv_content > header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.portfolio figure img {
	/* width: 28px; */
	object-fit: cover;
	width: fit-content;

}

.portfolio figcaption > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.portfolio figcaption > ul > li a {
	height: 35px;
	padding: 3px;
	border-width: 1px;
	/* width: 150px; */
	height: 35px;
	border-radius: 18px;
	margin: 2px 0 2px 2px;
}

.link-tag > a {
	padding: 3px;
	border-width: 1px;
	/* width: 150px; */
	width: fit-content;
	display: flex;
	flex-direction: row-reverse;
}


.link-tag div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 0em 0.3em;
}

.link-tag div p {
	font-size: x-small;
	padding: auto;
	margin: 0;
}

.portfolio .tag-list {
	display: flex;
	flex-direction: row;
}

.portfolio .tag-list > li > a {
    height: 26px;
	padding: 1px;
	margin: 1px;
	border-width: 1px;
	border-radius: 100px;
	object-position: center;
}

.portfolio .tag-list > li > a > div {
	display: none;
}

.portfolio .tag-list > li > a address {
	font-size: xx-small;
}

.portfolio-item > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 19mm;
}

.portfolio-item > header p {
	font-size: xx-small;
}

.portfolio address {
	font-size: x-small;
}