@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'); */

.cv_page {
	@apply w-full h-full flex flex-col md:flex-row items-start;
	width: 210mm;
    height: 297mm;
    /* margin: auto; */
	padding: 0;
	margin: 0;
    font-family: Arial, sans-serif;
	background-color: #ffffff;
	justify-content: space-between;
}

.cv_page h1, .cv_page h2, .cv_page h3, .cv_page p, .cv_page a {
	@apply p-2;
}

.cv_header {
	@apply flex flex-col justify-start;
	/* apply background collor with shaddowbox */
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	width: 30%;
	height: 100%;
	justify-content: space-between;
}

.name-title {
	position: absolute;
	white-space: nowrap;
	color: white;
	margin: -27px 0em;
	border-radius: 0 42px 3px 0;
	border-color: #6a6a6a1b;
	border-top-width: 1px;
}

.name-title h1 {
	@apply text-4xl text-center font-bold;
	background: linear-gradient(90deg, rgb(254 216 175 / 22%) 0%, rgb(212 195 226 / 56%) 68%, rgb(255 255 255 / 0%) 100%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 0 200px 3px 0;
	text-shadow: 0 0 4px #444444b0, 0 0px 10px white;
	letter-spacing: 0.1em;
	padding: 2px 1em 0 0.5em;
}

.name-title p {
	@apply font-light text-center;
	letter-spacing: 0.6em;
	color: white;
	padding: 2px;
	background: linear-gradient(90deg, rgb(255 216 175) 0%, rgb(194 143 234) 68%, rgb(253 215 172 / 0%) 100%);
	/* text-shadow: 0 0 1px #74747466, 0 0px 4px white; */
}

.image-container {
	@apply flex flex-col justify-center items-center;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.profile img {
	@apply rounded-full;
	background: linear-gradient(129deg, rgb(255 219 116 / 45%) 0%, rgb(180 117 231 / 34%) 68%, rgb(255 221 64 / 6%) 100%);
	width: 100%;
	padding: 0.2em;
	box-shadow: 0 0 3px #000000ca, 0 0 10px white;
}

.profile {
	width: fit-content;
	max-width: 100%;
	margin-top: 1em;
}

.cv_page h2 {
	@apply text-2xl;
	letter-spacing: 0.1em;
	@apply text-gray-600;
	line-height: 1rem;
}

.cv_page h3 {
	@apply text-gray-600;
	@apply font-light;
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	display: inline-block;
	border-bottom-width: 1px;
	margin-left: 0.5em;
}



.cv_content {
	@apply flex flex-col justify-center items-end; /* Aligns content to the right */
}



.infoLine {
	@apply flex flex-row items-center;
	/* word-wrap: break-word; */
}
  
.infoLine i, .infoLine svg {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */

	height: 15px; /* You can adjust this value */
	padding: 5px;
	/* background-color: bisque; */
	border-radius: 0 0.25em 0.25em 0;
	border-color: #6a6a6a2e;
	border-width: 1px;
	margin-right: 0.6em;
}



.contacts {
	margin-bottom: 1em;
	font-size: 0.9em;
}

.contacts h1, .contacts h2, .contacts h3, .contacts p, .contacts a {
	/* padding: 0.25em;
	margin-bottom: 0.2em;
	margin-top: 0.2em; */

}

.contacts p, .contacts a {
	font-size: 0.8em;
}

/* .contacts h3 {
	font-size: 0.9em;
	letter-spacing: 0.1em;
} */

.group h1, .group h3, .group p, .group a {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	padding: 0.25em;
}

.group h2 {
	/* @apply text-2xl; */
}

.skills-list {
	display: flex;
    /* max-width: fit-content; */
	justify-content: space-evenly;
    padding-right: 0.8em;
    flex-wrap: wrap;
}


.skills-list img {
	@apply rounded-full;
	width: 35px;
	height: 35px;
	padding: 0.2em;
	/* box-shadow: 0 0 3px #000000ca, 0 0 10px white; */
	border-width: 1px;
	border-color: #6a6a6a2e;
}

.skill-tag {
	@apply flex flex-col justify-between;
	@apply text-gray-600 font-light;
	font-size: 0.3em;

}

.skill {
	@apply flex flex-col justify-between inline-block;
	/* stick to flex start */
	align-items: center;
	margin-inline: 1em;
	/* border-top-width: 1px; */
	padding: 0.3em 0em;
}

.skill-tag .last {
	border-right-width: 1px;
	height: 14px;
	padding-right: 3px;
	max-width: none;
}

.experience {
	@apply text-gray-500;
	width: 100%;
	font-size: 0.3em;
	max-width: 40px;
	padding-left: 4em;
	margin-bottom: -3px;
}

.level {
	@apply flex flex-col justify-between;
	/* @apply text-gray-600 font-light; */
	font-size: 0.3em;
}


.skill .skill-info {
	@apply flex flex-row justify-between;
	font-size: 0.3em;
}

.level-2 {
	font-weight: 600;
}

.skill .skill-name {
	@apply text-center;
	font-size: 0.6em;

	padding: 0 1em;
	position: absolute;
	border-width: 1px;
	border-radius: 1em 1em;
}

.skill-name-box {
	/* padding: 1em; */
	display: flex;
	justify-content: center;
	/* border-width: 1px; */
	margin-top: -6px;
	max-width: 35px;
	margin-bottom: 12px;
}

.skill-icon {
	margin: auto;
	min-width: 35px;
}

.cv_content {
	@apply flex flex-col justify-center items-end; /* Aligns content to the right */
	/* width: min-content; */
}

.cv_content h2, .cv_content h3, .cv_content p, .cv_content a {
	padding: auto;
	margin: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.cv_content h2 {
	background-color: bisque;
	display: inline-block;
}

.cv_content p {
	@apply text-gray-600;
	@apply font-light;
	font-weight: 300;
	font-size: 0.8em;
	/* letter-spacing: 0.25em; */
	display: inline-block;
	margin-left: 0.5em;
	text-indent: 2em;
	padding-left: 1em;
}

.cv_content section {
	border-bottom-width: 1px;
}

.about {
	/* background-color: #ffffff; */
}

.about_info_aspirations, .about_info_background {
	text-align: end;
}

.about_info_background p {
	padding-left: 10rem;
}

.about h3 {
	font-size: 0.5em;
}

.about p {
	font-size: 0.8em;
	max-height: 20%;
}